:root {
  /* tipografi */
  --font-family: "Poppins";
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* color */
  --color-primary: #d0cfcd;
  --color-button: rgba(0, 0, 0, 0.5);
  --color-container: #dbd5c5;
  --color-separator: #d9d9d9;
  --text-button: #fffefe;

  /* fontsize */
  --dp-10: 10px;
  --dp-12: 12px;
  --dp-14: 14px;
  --dp-16: 16px;
  --dp-18: 18px;
  --dp-20: 20px;
  --dp-22: 22px;
  --dp-24: 24px;
  --dp-26: 26px;
  --dp-28: 28px;
  --dp-30: 30px;
  --dp-32: 32px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #ffffff;
  flex: 1;
}

/* HEADER - INDEX PAGE*/
.shipping-box {
  background-color: var(--color-primary);
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 0px 100px;
}

.text-shipping {
  margin-top: 12px;
}

.text-shipping span {
  font-weight: var(--weight-bold);
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
  color: #000 !important;
}

.hero-section {
  position: relative;
  display: inline-block;
}

.img-hero {
  width: 100%;
  display: block;
}

.btn-see-details {
  position: absolute;
  bottom: 30px;
  left: 50px;
  z-index: 10;
  padding: 10px 30px;
}
/* END HEADER - INDEX PAGE*/

/* CONTENT - INDEX PAGE*/
.container-product {
  background-color: var(--color-primary);
  width: 800px;
}

.img-product {
  width: 200px;
}

.btn-buy {
  border-radius: 40px;
  border: 1px solid #000000;
}

.box-product {
  background-color: var(--color-container);
  width: 227px;
}

.separator {
  background-color: var(--color-separator);
  height: 5px;
  width: 100%;
  margin: 100px 0;
}
/* END CONTENT - INDEX PAGE*/

/* FOOTER - INDEX PAGE*/
.footer {
  background-color: var(--color-primary);
  margin-top: 165px;
  margin-bottom: 0;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
}

.left p {
  cursor: pointer;
}

.fw-bold {
  font-size: var(--dp-22);
}

.footer p:hover {
  text-decoration: underline;
}

.sosmed {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.sosmed p {
  margin: 0;
  line-height: 1;
}
/* END FOOTER - INDEX PAGE*/

/* CONTENT - CHECKOUT PAGE */
.content {
  padding: 20px 62px;
  gap: 80px;
  align-items: center;
}

.text-main {
  font-size: var(--dp-28);
}

.text-desc {
  color: #646464;
  margin-top: -10px;
  font-size: var(--dp-18);
}

.card-product {
  display: flex;
  align-items: center;
  gap: 30px;
  border: 1px;
  background-color: #f7f6f1;
  border: 1px solid rgba(100, 100, 100, 0.47);
  padding: 16px 20px;
  border-radius: 18px;
  margin-top: 40px;
}

.box-img {
  padding: 15px;
  width: 235px;
  height: auto;
  border: 1px solid #646464;
  z-index: 1;
  border-radius: 10px;
}

.product-name {
  font-size: var(--dp-20);
}

.product-name span {
  font-size: var(--dp-16);
}

.list-desc {
  display: flex;
  flex-direction: column;
}

.desc-order {
  justify-content: space-between;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr;
  align-items: center;
}

.desc-order .active {
  justify-content: space-between;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.voucher-label {
  background-color: #f8e7ca;
  padding: 10px 15px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  font-weight: 500;
}

.voucher-input {
  background-color: #c8c8c8;
  border: none;
  padding: 10px 15px;
  flex: 1;
  color: #3a3a3a;
  text-align: center;
}

.voucher-input:focus {
  outline: none;
  box-shadow: none;
}

.apply-btn {
  background-color: #14c700;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 0 12px 12px 0;
  font-weight: 500;
}

.voucher-wrapper {
  display: flex;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
}

.voucher-container {
  display: flex;
  gap: 10px;
}

.separator-content {
  background-color: rgba(100, 100, 100, 0.32);
  width: 1.5px;
  height: 125vh;
}

.right-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.list-cust-desc {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 35px;
}

.cust-desc {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cust-desc p {
  margin: 0;
  line-height: 1;
}

.address-desc {
  margin-top: 35px;
}
/* END CONTENT - CHECKOUT PAGE */
